<h1><%= t('.title') %></h1>

<%= render 'form', cord: @cord %>

<button style="margin-left:43%" class="button"><%= link_to t('.show'), @cord, :style => 'text-decoration:none'%></button>
<button style="margin-left:43%" class="button"><%= link_to t('.back'), cords_path, :style => 'text-decoration:none' %></button>
