<h1><%= t('.title') %></h1>
<%= render 'form', clothing: @clothing %>
<button style="margin-left:46%" class="button"><%= link_to 'Back to the Clothings page', clothings_path, :style => 'text-decoration:none' %></button>
