<h1><%= t('.new_racquet') %></h1>

<%= render 'form', racquet: @racquet %>

<button style="margin-left:43%" class="button"><%= link_to t('.link_back'), racquets_path, :style => 'text-decoration:none' %></button>
