<!-- <div class="slideshow-container"> -->
<div class="mySlides fade">
  <%= image_tag("960-600-sofia-open-2020.jpg", alt: "a photo of sofia open",  size: "720x320") %>
  <div class="text">Welcome to Sofia</div>
</div>

<div class="mySlides fade">
  <%= image_tag("photo_verybig_195773.jpg", alt: "a photo of sofia open",  style: 'height:50%;width:20%;') %>
  <div class="text">Prepare for an unforgettable experience</div>
</div>

<div class="mySlides fade">
  <%= image_tag("SO2020_slider-Grigor.jpg", alt: "a photo of Grigor Dimitrov",  size: "720x320") %>
  <div class="text">Enjoy it to the fullest</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
