footer {
  background: #151414;
  position: relative;
  bottom: 0;
  color: white;
  text-align: center;
  flex: 1;
}
.footer-section {
  position: relative;
  bottom: 0;
  width:100%;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area{
  background: #202020;
  text-align: center;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  text-align: center;
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
