// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_of_home_page {
    background: radial-gradient(#eff1ff, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: 3.9rem
}
